 <%= image_tag("1.jpeg", :class => "box") %>

<button id="buy" type="button" class="btn btn-large btn-primary">Buy this item</button>
<button id="save" type="button" class="btn btn-large btn-danger">Save to wishlist</button>
 
