
    <label>Post a new product</label><br />
    <input id="url_text" type="text" placeholder="Product URL">
    <button id="url_submit" type="button" class="btn btn-large btn-primary">Post Item</button>


