  <label>Post a new product</label><br />
    <input id="url_text" type="text" placeholder="Product URL">
    <img id="img1" src="" visiblity="hidden">
    <img id="img2" src="" visiblity="hidden">
    <img id="img3" src="" visiblity="hidden">
  <!--  <input id="price" type="text" placeholder="$19.99" visiblity="hidden"> -->
    <button id="url_submit" type="button" class="btn btn-large btn-primary">Post Item</button>
