

  <form>
    <label>Post a new product</label><br />
    <input type="text" name="url" placeholder="Product URL">
    <input class="btn btn-large btn-primary" type="submit" value="Submit">
  </form>

