<div class="stream">
    <%= @items.each do |i| %>
    	<div class="item">
    		<a href='/items/<%=i.id.to_s %>' >
    			<img src= <%= i.image %> >
    		</a>
    		<h3>
    			<%= i.title %>
    		</h3>
    	</div>
    <% end %>
</div>