<div class="stream">
  <%= image_tag("1.jpeg", :class => "box") %>
  <%= image_tag("2.png", :class => "box") %>
  <%= image_tag("3.jpeg", :class => "box") %>
  <%= image_tag("4.jpg", :class => "box") %>
</div>

<div id="overlay">
     <div>
          <p>Content you want the user to see goes here.</p>
          Click here to <a id="closeOverlay" href='#'>close</a>
     </div>
</div>