body, p, ol, ul, input {
     font-family: 'Source Sans Pro', sans-serif !important;
     font-family: "proxima-nova","Helvetica-neue",helvetica,sans-serif;
}


.stream {
	width: 600px;
	margin: 0 auto;
     background-color: lightblue;
     border: 5px lightblue;
     border-radius: 8px;
}

.box {
     width: 500px; /* We will not have a fixed width */
     margin: 0 auto;
     margin-right: 50px;
     margin-left: 50px;
}

#overlay, #signup_overlay, #login_overlay {
     display: none;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#overlay div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     border-radius: 4px;
     padding:15px;
     text-align:center;
}


#new_item .field, #new_item .actions {
     margin-top: 0px;
     margin-bottom: 0px;
     border: none;
}

#modalItem {
     width: 200px;
     margin: 0;
}

a:hover {
     background-color: transparent !important;
}

#logo {
     width: 100px;
     height: 20px;
     padding-top: 3px;
}

#facebook_signup {
     font-size: 18px;
}

#signup {
     width: 100%;
     height: 150px;
     background-color: lightpink;
}

#signup_button_div {
     width: 200px;
     margin: 0 auto;
}

#tagline {
     text-align: center;
}